.modal-backdrop {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
/*   transform: perspective(500px) translateZ(200px);
  transition: transform 0.3s ease-in-out; */
}

.modal-content {
  background: linear-gradient(135deg, #fffffff5, #3a4b8a, #ffffff98);
  color: black;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
