#root {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.card {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.playCard {
  padding-top: 1rem;
}

.pointsGame {
  padding-top: 1rem;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
